#loginAppName {
  margin-top: 0vh;
  font-size: 25px;
  font-weight: 700;
}

#loginTitle {
  margin-top: 15vh;
  margin-bottom: 3vh;
}

input {
  display: flex;
  flex-direction: column;
}

.formText {
  width: 80vw;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton {
  // position: absolute;
  // bottom: 5vh;
  // margin-bottom: 0%;
  border-radius: 5rem;
  width: 80vw;
    &:hover {
      text-decoration: none;
    }
}

#loginText {
  font-size: 20px;
  // border-radius: 5rem;
}

.imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#googleSignin {
  // flex: 1;
  border: 3px solid black;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: 2.5vh;
}

#facebookSignin {
  // flex: 1;
  border: 3px solid black;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: 2.5vh;
}

#twitterSignin {
  // flex: 1;
  border: 3px solid black;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: 2.5vh;
}

#noAccount {
  font-size: 20px;
  margin-top: 15vh;
}

#noAccountSignUp {
  color: black;
}
