#signupTitle {
  margin-top: 7vh;
  margin-bottom: 3vh;
}

#signupText {
  font-size: 20px;
}


#yesAccount {
  font-size: 20px;
  margin-top: 5vh;
}

#loginLink {
  color: black;
  text-decoration: underline;
}
