h1 {
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  font-size: 50px;
}

p {
  font-size: 35px;
}

.linkTag {
  margin-top: 3vh;
  text-decoration: none;
  color: white;
  width: 200px;
  border-radius: 2rem;
    &:hover {
      text-decoration: none;
      color: white;
    }
}